<!DOCTYPE html>
<html lang="en">

<style>
  
</style>

<body>

  <title>Mini Amazon</title>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/example.css') }}">
  


<div class="navigation_bar">
	<p class="lead">Duke Data Devils Online Retail</p>
	<div class="header-bar">
		<h1 class="logo">DDD</h1>
		<ul class="slider-menu">
      {% if current_user.is_authenticated %}
        <li> <a href="{{url_for('index.index') }}">Home</a></li>
        <li><a href="{{url_for('social.social', id=current_user.id) }}">{{current_user.firstname}}</a></li>
        <li><a href="{{ url_for('Cart.myCart') }}">My Cart</a></li>
      {% else %}
        <li><a href="{{ url_for('index.index') }}">Home</a></li>
        <li><a href="{{ url_for('users.login') }}">Login/Register</a></li>
        <li><a href="{{ url_for('productPage.productPage') }}">Products</a></li>
      {% endif %}
		</ul>
	</div>
</div>
<div class = "main">
  {% block content %}
  {% endblock %}
</div>


<br></br>
<br></br>
<br></br>
<br></br>


<div class="navigation_bar">
  <ul id=horizontal_list>
    <li><a href="{{ url_for('index.index') }}">Home</a></li>
    {% if current_user.is_authenticated %}
    <li><a href="{{ url_for('myaccount.myAccountPage') }}">My Account</a> 
    <li><a href="{{url_for('users.logout') }}">Log out</a></li>
    {% else %}
    <li><a href="{{ url_for('productPage.productPage') }}">Products</a></li>
    {% endif %}
  </ul>
</div>
  </body>
</html>