{% extends "base.html" %}

{% block content %}

<h2>Orders</h2>
{% if empty %}
<h3>Your have no previous orders! Go <a href="{{ url_for('productPage.productPage') }}">Add Some Items to Your Cart!</a></h3>
{% elif not empty %}
</br>
<table class='table table-hover table-bordered container'>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Order ID</th>
        <th scope="col">Time Of Purchase</th>
        <th scope="col">Fulfillment Status</th>

    </tr>
    </thead>
    <tbody>
      {% for order in orders%}
       <tr>
        <td><a href="{{ url_for('seeSpecificOrder.seeSpecificOrder', oid = order[0]) }}">{{order[0]}}</a></td>
        <td>{{order[1]}}</td>
        <td>{{order[2]}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {%endif%}


{% endblock %}