{% extends "base.html" %}

{% block content %}


<br><br>
{% if current_user.is_authenticated %}
<h2><a href="{{ url_for('myaccount.myAccountPage') }}">Click here</a> to see account balance and change account information.</h2> <!-- is this link bad?-->
<p><a href="{{ url_for('add_new_product.new_product') }}">Click here</a> to add a new product for sale!</p>
<p><a href="{{ url_for('messages.messages') }}">Click here</a> to check your messages! You have {{num_unread}} unread messages!</p>

{% else %}
<p><a href="{{ url_for('users.login') }}">Log in</a> to see your purchase history!</p>

{% endif %}
<p><a href="{{ url_for('productPage.productPage') }}">Click here</a> to see the main product page!</p>

{% endblock %}
