{% extends "base.html" %}

{% block content %}

<br><br>

<h2>Messages</h2>


<br>

<table class='table table-hover table-bordered container'>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Sender</th>
        <th scope="col">Subject</th>
    </tr>
    </thead>
    <tbody>
      {% for message in messages%}
        {% if message.msg_read == 'Unread'%}
        <tr style="background-color: yellow;">
        <td><a href='http://www.google.com'>{{message.firstname}} {{message.lastname}}</a></td>
        <td>{{message.subject}}</td>
        </tr>
        {% else %}
        <tr>
            <td><a href='http://www.google.com'>{{message.firstname}} {{message.lastname}}</a></td>
            <td>{{message.subject}}</td>
            </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>

<h3>Send a Message:</h3>

<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
      {{ form.recipient_email.label }}<br/>
      {{ form.recipient_email(size=32) }}<br/>
      {% for error in form.recipient_email.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
        {{ form.subject.label }}<br/>
        {{ form.subject(size=32) }}<br/>
        {% for error in form.subject.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      </p>
    <p>
      {{ form.message.label }}<br/>
      {{ form.message(size=2000) }}<br/>
      {% for error in form.message.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
    </p>
    {{ form.submit(class_="btn btn-black") }}
  </form>



{% endblock %}
