{% extends "base.html" %}

{% block content %}

<head>
    <style>
    .left {
      width: 50%;
      float: left;
      padding-right: 5px;
    }
      .right {
      width: 50%;
      float: right;
      padding-left: 5px;
    }
    </style>
</head>

<br>
<div class="left">
<h2>My Account</h2>
<br>
<h3>Your Name: {{current_user.firstname}} {{current_user.lastname}}</h3>
<h3>Your Email: {{current_user.email}}</h3>
<h3>Your Address: {{current_user.address}}</h3>
<h3>Your Balance: ${{"%0.2f" % current_user.balance}}</h3>
</div>
<div class="right">
<h2>Update Information</h2>
<br>
<h4><a href="{{ url_for('updateinformation.updateInformationPage') }}">Update Information</a></h4>
<h4><a href="{{ url_for('updatepassword.updatePasswordPage') }}">Update Password</a></h4>
<h4><a href="{{ url_for('updatebalance.updateBalancePage') }}">Update Balance</a></h4>
<h4><a href="{{ url_for('seller_inventory.seller_inventory') }}">Your Inventory</a> <h4>
<h4><a href="{{ url_for('seller_orders.seller_orders') }}">Your Orders</a></h4>
</div>


{% endblock %}
