{% extends "base.html" %}

{% block content %}

<br><br>

<h2>Adjust the number of  {{prod.name}} in your cart!</h2>

<br>

<h2>Product Information:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Category</th>
      <th scope="col">Unit Price</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <th scope="row">{{prod.pid}}</th>
        <td>{{prod.name}}</td>
        <td>{{prod.description}}</td>
        <td>{{prod.category}}</td>
        <td>{{prod.price}}</td>
      </tr>
  </tbody>
</table>

<h2>Cart Information:</h2>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Quantity In Cart</th>
      <th scope="col">Available</th>
      <th scope="col">Total Price</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <th scope="row">{{amt}}</th>
        <td>{{avail}}</td>
        <td>{{tpr}}</td>
      </tr>
  </tbody>
</table>
<p>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
</p>

<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
      {{ form.confirm.label }}<br/>
      {{ form.confirm(size=3) }}<br/>
    </p>
    <p>
      {{form.amount.label}}</br>
      {{form.amount(size = 32)}}</br>

    
    </p>
    {{ form.submit(class_="btn btn-black") }}
  </form>
<br>
<p><a href="{{ url_for('myaccount.myAccountPage') }}">Click here</a> to go back to My Account page!</p>
  <p><a href="{{ url_for('index.index') }}">Click here</a> to go back to the main page!</p>

{% endblock %}
