{% extends "base.html" %}

{% block content %}

<h2>{{current_user.firstname}} {{current_user.lastname}}'s Inventory </h2>

<table class='table table-hover table-bordered container'>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Product Name</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity Available</th> 
        <th scope="col">Edit Item</th>
        <th scope="col">Delete Item</th> 
      </tr>
    </thead>
    <tbody>
      {% for item in current%}

        <tr>
          <td>{{item.name}}</td>
          <td>{{item.price}}</td>
          <td>{{item.quantity_available}}</td>
          <td><a href="{{ url_for('updateproduct.updateProductPage', pid = item.pid) }}">Edit Product</a></td>
          <td><a href="{{ url_for('delete_product.delete_product_page', pid = item.pid) }}">Delete Product</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if deleted != [] %}
 
  <h3>Deleted Products</h3>
  <table class='table table-hover table-bordered container'>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Product Name</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity Available</th> 
        <th scope="col">Edit Item</th>
        <th scope="col">Restore Item</th> 
      </tr>
    </thead>
    <tbody>
      {% for item in deleted%}
        <tr>
          <td>{{item.name}}</td>
          <td>{{item.price}}</td>
          <td>{{item.quantity_available}}</td>
          <td><a href="{{ url_for('updateproduct.updateProductPage', pid = item.pid) }}">Edit Product</a></td>
          <td><a href="{{ url_for('restore_product.restore_page', pid = item.pid) }}">Undelete Product</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

{% endblock %}
