{% extends "base.html" %}

{% block content %}

<head>
  <style>
    .left {
      float: left;
      width: 50%;
      margin-bottom: 80px;
    }
    .right {
      float: right;
      width: 50%;
      padding-left: 10px;
    }
  </style>
</head>

<div class = "left">
<h2>User {{user.id}}</h2>

<h3>Name: {{user.firstname}} {{user.lastname}}</h3>
<h3>Email: {{user.email}}</h3>

{% if is_seller %}

<h3>Address: {{user.address}}</h3>

{% endif %}

{% if is_seller %}
<h3>Seller: Yes</h3>

{% if num_reviews > 0 %}

<h3>Reviews:</h3>

<h2>Average Review: {{avg}} </h2>
<h2>Number of Reviews: {{num_reviews}}</h2>

<table class='table table-hover table-bordered container'>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Review</th>
        <th scope="col">Rating</th>
      </tr>
    </thead>
    <tbody>
      {% for review in reviews%}
        <tr>
          <td>{{review.review}}</td>
          <td>{{review.rating}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% else %}

<h3>No reviews for this seller</h3>

{% endif %}


{% if bought_from and not left_review%}
<p>You've bought from this seller before! Would you like to leave a review?</p>
<form action="" method="post">
  {{ form2.hidden_tag() }}
  <p>
    {{ form2.review.label }}<br/>
    {{ form2.review(size=32) }}<br/>
  </p>
  <p>
    {{ form2.rating.label }}<br/>
    {{ form2.rating(size=5) }}<br/>
  </p>
  <p>{{ form2.submit2() }}</p>
</form>
{% endif %}

{% if bought_from and left_review%}
<p>You've reviewed this seller before! Would you like to update your review?</p>
<form action="" method="post">
  {{ form3.hidden_tag() }}
  <p>
    {{ form3.review.label }}<br/>
    {{ form3.review(size=32) }}<br/>
  </p>
  <p>
    {{ form3.rating.label }}<br/>
    {{ form3.rating(size=5) }}<br/>
  </p>
  <p>{{ form3.submit3() }}</p>
</form>
<p>Click here if you would like to delete your review.</p>
<form action="" method="post">
  {{ form4.hidden_tag() }}
  <p>{{ form4.submit4() }}</p>
</form>
{% endif %}

<h3>Selling:</h3>

<table class='table table-hover table-bordered container'>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Product ID</th>
        <th scope="col">Product Name</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      {% for product in products%}
        <tr>
            <th scope="row"><a href ="{{ url_for('productSummary.product_summaries', pid = product.pid) }}"> {{product.pid}}</a></th>
          <td>{{product.name}}</td>
          <td>{{"$%.2f" | format(product.price|float)}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% else %}

<h3>Seller: No</h3>

{% endif %}

<a href="{{url_for('social_adv.social', id=user.id)}}" type="button" class="btn btn-light">Show {{user.firstname}} {{user.lastname}}'s Reviews</a>

</div>
<div class = "right">
<h2>Search for a user:</h2>
<form action="" method="post" novalidate>
  {{ form.hidden_tag() }}
  <p>
    {{ form.firstname.label }}<br/>
    {{ form.firstname(size=32) }}<br/>
    {% for error in form.firstname.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.lastname.label }}<br/>
    {{ form.lastname(size=32) }}<br/>
    {% for error in form.lastname.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {{ form.email.label }}<br/>
    {{ form.email(size=32) }}<br/>
    {% for error in form.email.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>
  <p>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
  </p>
  {{ form.submit(class_="btn btn-black") }}
</form>
<br>
{% if user.id != 1 %}
<a href="{{ url_for('social.social', id=user.id-1) }}" type="button" class="btn btn-light">Previous User</a>
{% endif %}
{% if user.id != last_page %}
<a href="{{ url_for('social.social', id=user.id+1) }}" type="button" class="btn btn-light">Next User</a>
{% endif %}
{% if user.id != current_user.id %}
<h3><a href="{{url_for('messages_email.text', email=user.email)}}">Send a message</a> to this user</h3>
{% endif %}
</div>

{% endblock %}