{% extends "base.html" %}

{% block content %}

<br><br>

<h2>Update Balance</h2>

<h3>Your Balance: ${{"%0.2f" % current_user.balance}}</h3>

<br>

<style>    
.login-box {
    background-color: white;
    width: 360px;
    padding: 20px;
    margin: auto;
    text-align: center;
}
input[type=text] {
  width: 80%;
  margin: 0 0 15px;
  background: #f1f1f1e0;
  color: #b4b8b3ef;;
  padding: 15px;
  border: 0px;
}

.button {
  background-color: #7cb95b;
  width: 50%;
  margin: 15px;
}
</style>

<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
      {{ form.deposit.label }}<br/>
      {{ form.deposit(size=32) }}<br/>
      {% for error in form.deposit.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.withdrawal.label }}<br/>
      {{ form.withdrawal(size=32) }}<br/>
      {% for error in form.withdrawal.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
    </p>
    {{ form.submit(class_="btn btn-black") }}
  </form>

{% endblock %}
