{% extends "base.html" %}

{% block content %}

<h2>Update Password</h2>

<h3>Your Name: {{current_user.firstname}} {{current_user.lastname}}</h3>
<h3>Your Email: {{current_user.email}}</h3>
<h3>Your Address: {{current_user.address}}</h3>

<br>

<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
      {{ form.oldpassword.label }}<br/>
      {{ form.oldpassword(size=32) }}<br/>
      {% for error in form.oldpassword.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.newpassword.label }}<br/>
      {{ form.newpassword(size=32) }}<br/>
      {% for error in form.newpassword.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.newpassword2.label }}<br/>
      {{ form.newpassword2(size=32) }}<br/>
      {% for error in form.newpassword2.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
    </p>
    {{ form.submit(class_="btn btn-black") }}
  </form>
<br>
<p><a href="{{ url_for('myaccount.myAccountPage') }}">Click here</a> to go back to My Account page!</p>

{% endblock %}
