{% extends "base.html" %}

{% block content %}

<h2>{{current_user.firstname}} {{current_user.lastname}}'s Discounts </h2>

{% if products != [] %}

<h3> Products Discounts</h3>
<table class='table table-hover table-bordered container'>
    <thead class="thead-dark">
      <tr>
        <th scope="col">Product Name</th>
        <th scope="col">PID</th>
        <th scope="col">Discount Code</th> 
        <th scope="col">Discount Amount</th> 
        <th scope="col">Delete Code</th> 
      </tr>
    </thead>
    <tbody>
      {% for item in products%}
        <tr>
          <td>{{item.name}}</td>
          <td>{{item.pid}}</td>
          <td>{{item.code}}</td>
          <td>{{item[-1]}}%</td>
          <td><a href="{{ url_for('deleteProdCode.deleteProdCode', pid = item.pid, code = item.code) }}">Delete Code</a></td>
        </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>



{% else %}
<h3> You have no discounts on any products, you can add discounts in your <a href="{{ url_for('seller_inventory.seller_inventory') }}"> Inventory</a></h2>

{% endif %}

{% if all == [] %}
<h3> You currently don't offer any discounts on all your products</h2>

{% else %}

<h3>Discounts On All Your Items</h3>
<table class='table table-hover table-bordered container'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">Discount Code</th> 
      <th scope="col">Discount Amount</th> 
      <th scope="col">Delete Code</th>
    </tr>
  </thead>
  <tbody>
    {% for item in all%}
      <tr>
        <td>{{item.code}}</td>
        <td>{{item[-1]}}%</td>
        <td><a href="{{ url_for('deleteSellerCode.delete_SellerCode', code=item.code)}}">Delete Code</a></td>

      </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

<br>

<form action="" method="post">
  {{form.hidden_tag() }}
  <p>
    {{form.code.label }}
    {{ form.code(size=32) }}<br/>
    {% for error in form.code.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
    {{form.amount.label }}
    {{ form.amount(size=32) }}<br/>
    {% for error in form.amount.errors %}
    <span style="color: red;">[{{ error }}]</span>
    {% endfor %}
  </p>

  {% if success == "False" %}
  <span style="color: red;">Sorry that discount code is already in use</span> <br>
  {% endif %}

  <p>{{ form.submit() }}</p>
</form>

{% endblock %}

